<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>REST CLI</title>
  <%- include('partials/head') %>
</head>
<body>
  <div class="container">
    <h1>Cuarteto de Nos</h1>
  </div>
  <div class="container">
    <table>
      <thead>
        <tr>
          <td>N°</td>
          <td>Title</td>
          <td>Albun</td>
          <td>Action</td>
        </tr>
      </thead>
      <tbody>
        <% if(data){ %> <% for(let i=0; i< data.length; i++){ %>
            <tr>
              <td><%= (i+1) %></td>
              <td><%= data[i].title %></td>
              <td><%= data[i].albun %></td>
              <td>
                <a onclick="deleteSong(`<%= data[i].id %>`)">Delete</a>
                <a href="/cli/<%- data[i].id%>">Update</a>
              </td>
            </tr>          
          <% } %>
        <%  }%>
      </tbody>
    </table>
  </div>
  <br>
  <div class="container">
    <form action="http://localhost:8080/rest/songs" method="POST">
      <input type="text" id="title" name="title" placeholder="Titulo" autofocus>
      <input type="text" id="albun" name="albun" placeholder="Albun" autofocus>
      <button type="submit">Save song</button>
    </form>
  </div>
  
  <%- include('partials/footer') %>
</body>
</html>