<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Song</title>
    <%- include('partials/head') %>
</head>
<body>
    
    <div class="mt-5 container">
        <h2>Song form edit</h2>
        <form id="editForm">
            <input type="hidden" id="id" name="id" value="<%= data.id %>">
            <input type="text" id="title" name="title" value="<%= data.title %>" placeholder="Titulo" autofocus>
            <input type="text" id="albun" name="albun" value="<%= data.albun %>" placeholder="Albun" autofocus>
            <button type="submit">Update Song</button>
        </form>
    </div>

    <%- include('partials/footer') %>
</body>
</html>